xml-resources/web-service-references/NewWebServiceService/wsdl/localhost_8080/WsPlaca/NewWebServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="gravarPlaca" type="tns:gravarPlaca" />

<xs:element name="gravarPlacaResponse" type="tns:gravarPlacaResponse" />

<xs:complexType name="gravarPlaca">
<xs:sequence>
<xs:element name="placa" type="xs:string" minOccurs="0" />
<xs:element name="tpVeic" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gravarPlacaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>